#alert-deviceID {
	margin-top: 50px;
}
#alert-deviceID #idWrap {
	font-size: 45px;
	font-weight: bold;
	color: #f44336;
}
#streamWrap {
	display: none
}
#streamWrap.live {
	display: block;
	position: fixed;
	top: 2%;
	left: 2%;
	width: 96%;
    height: 96%;
    z-index: 2;
    margin-left: 0 !important;
}
#streamWrap video {
	height: 99%;
	width: 100%;
	object-fit: fill;
}
#hangup {
	display: inline-block;
	position: fixed;
	left: 50%;
	bottom: -444%;
	color: red;
	opacity: 0;
	transition: opacity .3s;
	z-index: 2;
	background: #ffffff;
	padding: 10px 13px;
	border-radius: 50px;
}
#streamWrap:hover + #hangup {
	bottom: 4%;
	opacity: 0.7;
}
#hangup:hover {
	bottom: 4%;
	opacity: 1;
	cursor: pointer;
}