#alert-deviceID {
	text-align: center;
	margin-top: 50px;
}
#alert-deviceID #idWrap {
	font-size: 18px;
	color: blue;
}
#streamWrap.live {
	position: absolute;
	top: 2%;
	left: 2%;
	width: 96%;
    height: 96%;
    z-index: 2;
    margin-left: 0 !important;
}
#streamWrap video {
	height: 99%;
	width: 100%;
	object-fit: fill;
}