#alert-deviceID {
	margin-top: 50px;
}
#alert-deviceID #idWrap {
	font-size: 45px;
	font-weight: bold;
	color: #f44336;
}
#streamWrap, #streamWrap-local {
	display: none
}
#streamWrap.live {
	display: block;
	position: fixed;
	top: 2%;
	left: 2%;
	width: 96%;
    height: 96%;
    z-index: 2;
    margin-left: 0 !important;
}
#streamWrap video {
	height: 99%;
	width: 100%;
	/*object-fit: fill;*/
}
#streamWrap:after {
	content: '';
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.8;
}
#streamWrap-local.live{
	z-index: 20;
	display: block;
	position: fixed;
	bottom: 2%;
	right: 2%;
	width: 280px;
	height: 170px;
	opacity: 0.8;
}
#streamWrap-local video {
	height: 93%;
	width: 100%;
	/*object-fit: fill;*/
}
#hangup {
	display: inline-block;
	position: fixed;
	left: 50%;
	bottom: -444%;
	color: red;
	opacity: 0;
	transition: opacity .3s;
	z-index: 2;
	background: #ffffff;
	padding: 10px 13px;
	border-radius: 50px;
}
#streamWrap:hover + #streamWrap-local + #hangup {
	bottom: 4%;
	opacity: 0.7;
}
#hangup:hover {
	bottom: 4%;
	opacity: 1;
	cursor: pointer;
}
#remoteUser {
	position: fixed;
	top: 4%;
	right: 8%;
	z-index: 3;
	display: none;
	font-size: 30px;
	font-weight: bold;
	color: #f3f3f3;
	background: rgba(0,150,136,0.6);
	border-radius: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
#remoteUser.live {
	display: inline-block;
}
